@CHARSET "UTF-8";

* { 
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
} 

h1, h2, h3, h4, h5, h6 {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}


p { 
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 26px;
	
}

h2{
	font-weight:500;
}

.font-lato {
	font-family: 'Lato', sans-serif;
}

h4.content-nav-title{
	font-size: 1.5em;
    line-height: 1.3em; 
}

h1#frontpage-title{
	font-weight: 600;
    color: #d43d17;
    font-size: 3.0em;
    background-color: yellow;
    padding: 14px;
    position: relative;
    float: left;
    left: 700px;
    top: 200px;
    line-height: 1.2em;
    border: solid 1px #d43d17;
    text-align:left;
}

h4#frontpage-tagline{
	color: #4872d8;
    font-weight: 400;
    font-size: 1.3em;
    background-color: white;
    padding: 9px 14px;
    position: relative;
    float: left;
    left: 351px;
    top: 335px;
    border: solid #b9e5f9 1px;
    line-height: 1.4em;
    text-align:left;
}