@CHARSET "UTF-8";

* { 
	font: 100% 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Verdana, Arial, Helvetica, sans-serif;
	
} 

h1, h2, h3, h4, h5, h6 {
    font: 100% 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Verdana, Arial, Helvetica, sans-serif;
	
}


p { 
	font: 100% 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px; 
	line-height: 26px;
	
}

h2{
	font-size: 2.3em;
    line-height: 1.3em;
    font-weight: 600;
}

.font-lato {
	
}

h4.content-nav-title{
	font-size: 1.5em;
    line-height: 1.3em; 
}


h1#frontpage-title{
	font-weight: 600;
	color:#d43d17;
	font-size:2.8em;
    background-color: yellow;
    padding: 5px;
    position: relative;
    float: left;
    left: 570px;
    top: 250px;
    border: solid 1px #d43d17;
}

h4#frontpage-tagline{
	color: #4872d8;
    font-weight: 400;
    font-size: 1.3em;
    background-color: white;
    padding: 9px;
    position: relative;
    float: left;
    left: 50px;
    top: 325px;
    border: solid #b9e5f9 1px;
}