
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
} 

body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}



p { 
	padding: 0; 
	margin-bottom: 12px; 
    color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}
a.link-blue:hover{
  text-decoration: underline;
  color:#00f;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}

/* NAV ICONS AND BUTTONS */
.container.page-nav{
	margin-top:20px;
}
.question-mark-icons{
	padding-left:40px;
	color: #d42e2e;
}
.calendar-icon{
	padding: 0 0 15px 55px;
	color:#2a69ce;
}
.yen-sign-icon{
	padding: 0 0 8px 63px;
	color:#177320;
}
h4.faq{
	color: #d42e2e;
}
h4.availability{
	color:#2a69ce;
}
h4.pricing-details{
	color:#177320;
}

/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 25px;
	line-height: 20px;
	padding: 15px 30px 16px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	opacity: 0.9;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

@media screen and (max-width: 767px) {
	.subscribe-input {
		width: 100%;
	}
}

.subscribe-submit {
	right: 0;
}

.btn-download {
	background: #FDE3A7;
}

/*Buttons Configuration */
.btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 18px 28px 17px 28px;
	}

.btn-conf-2 {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 28px 11px 28px;
	margin-top: 20px;
	}	

.btn-green {
	background: #03C9A9;
	color: white
}

.leader-subtitle{
	text-transform: uppercase;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 1.4em;
    color: #c13030;
}
.button-advance{
	margin: 15px 0 0 10px;
    font-size: 1.4em;
}
.button-advance:hover{
	background-color:#c30d0d;
	border-color:#f00;
}
.navbar-right{
	padding:30px 20px 15px 20px;
}
a.lang-toggle{
	color:#999;
}
a.lang-toggle:hover{
	color:#fb2323;
}


#logo{
  	min-height:63px;
  	min-width:390px;
	background: url(../img/logo-dark-blue.png) no-repeat center top;
}

.front-image img{
	width: 100%;
    height: auto;
}

@media (max-width: 768px){
  #logo{
    background: url(../img/logo-smaller.png) no-repeat left top;
    margin: 3px 0 0 18px;
  } 
}

/* HEADER SECTION */
#h {
	background: url(../img/front-skier.jpg) no-repeat center top;
	padding-top: 180px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#frontpage-title, #frontpage-tagline{
	margin:0;
}


#h .social {
	top: 30px;
	right: 45px;
	font-size: 20px;
	position: absolute;
}

#h .social i {
	margin-left: 20px;
}

#h .social a {
	color: white;
}




/* Store Links */
.store img {
	margin-right: 10px;
	margin-top: 20px;
}

/* SEP */
#sep {
	background: url(../img/sep.jpg) no-repeat center top;
	padding-top: 90px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sep h4 {
	letter-spacing: 1px;
	line-height: 30px;
	margin-top: 30px;
}

/* Pricing Tables */
.price-table {
	border: 2px solid #5a5a5a;
	border-radius: 25px;
	padding-top: 15px;
	padding-bottom: 25px;
	margin: 5px; 
}

.price-table .p-head {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 80px;
	border-bottom: 2px solid #ccc;
}

.price-table .p-body .features li {
	color: #333333;
	border-bottom: 2px solid #ccc;
	padding: 24px 0px;
	margin: 0;
	letter-spacing: 1px;
}

.p-body .price .detail {
	font-weight: 700;
	font-size: 45px;
	margin-left: 10px;
	margin-right: 10px;
}

.p-body .price .sub {
	font-size: 18px;
	color: #ccc;
	position: relative;
	bottom: 10px;
	font-weight: 700;
}

ul {
	list-style-type: none;
}

/* TABLE STYLES */
table.timetable{
	margin: 20px 0 20px 10px;
}
table.timetable tr{
	
}
table.timetable td{
	padding: 10px;
    border-top: 1px solid grey;
    vertical-align:top;
}
table.timetable.jp-details td{
	min-width:100px;
}

table.timetable td.border-bottom{
	border-bottom: 1px solid grey;
}
p.bold-callout{
	margin:10px 20px 0 20px;
}
ul.bold-callout-list{
	margin:10px 20px 20px 20px;
}
li .fa-check{
	color:green;
	margin: 0 10px 5px 0px;
	font-size:1.2em;
}
li .fa-circle{
	color:#d41212;
	margin: 0 10px 5px 0px;
	font-size:0.8em;
}



/* SPONSORS */
#g {
	background: #f2f2f2;
	padding-top: 60px;
	padding-bottom: 60px;
}

.sponsor img {
	max-width: 140px;
	max-height: 60px;
	vertical-align: middle;
}

.sponsor .col-sm-2 {
	height: 80px;
	line-height: 80px;
}

/* GREEN SECTION - TESTIMONIAL */

#testimonials {
	padding-top: 90px;
	padding-bottom: 60px;
	min-height: 300px;
	background: #26658e;
	color: white;
}

#testimonials tgr {
	font-weight: 700;
	letter-spacing: 1px;
}

/* FOOTER */
#f {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2f2f2f;
	color: white;
}

#f h5 {
	margin-top: 30px;
	letter-spacing: 1px;
}

#f i {
	font-size: 45px;
	margin: 15px;
}

#f a {
	color: #b9b9b9;
}

#f a:hover {
	color: #03C9A9;
}

#f .copyright{
	font-size:1.15em;
}